<!DOCTYPE html>

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Music</title>
<script src="lib/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
   <div id="app">
       <div>
           <h1>音乐播放器</h1>
           <input v-model="music" type="text" placeholder="请输入想听的音乐" @keyup.enter="search">
       </div>
       <div>
           <ul>
               <li v-for="item in playList">
                   <a href="javascript:;" @click="play(item.id)">△</a>
                   <b>{{item.name}}</b>
                   <span v-if="item.mvid!=0"><input type="button"  @click="mvPlay(item.mvid)" value="△"></span>
                   </li>
           </ul>
           
               <img :src="photoUrl" alt="zhuanjifengmian">
           
       </div>
       <audio :src="playUrl" @play="playing" @pause="pause" autoplay controls></audio>
       <video :src="mvUrl" controls ></video>
        <dl v-for="item in comment">
               <dt><img :src="item.user.avatarUrl" alt="touxiang"></dt>
               <!-- <dd>{{item.nickname}}</dd> -->
               <dd>{{item.content}}</dd>
        </dl>

   </div>
</body>
<script src="./js/player.js"></script>
</html> 